{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/css/foundation.min.css">
  <title>{% block title %}Scaffold{% endblock %}</title>
  {% block head %}{% endblock %}
</head>
<body>
  {% include 'partials/header.html' %}

  {% block content %}
  {% endblock %}

  {% block extrascripts %}
  {% endblock %}
</body>
</html>
